:root {
  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius: 5px;
  --border-radius-md: 8px;
  // --border-radius-lg: 12px;
  // --border-radius-xl: 16px;
  // --border-radius-2xl: 20px;
  // --border-radius-full: 999px;
}
