:root {
  --td-primary: #0070f4;
  --td-secondary: #677484;
  --td-default: #677484;
  --td-success: #00b63e;
  --td-info: #0070f4;
  --td-warning: #ff8800;
  --td-danger: #ed232f;
  --td-link: #0070f4;
  --td-promotion: #ef06bc;
  --td-white: #ffffff;
  --td-black: #000000;

  --blue-50: #e6f1fe;
  --blue-100: #cce2fd;
  --blue-150: #b3d4fc;
  --blue-200: #99c6fb;
  --blue-250: #80b8fa;
  --blue-300: #66a9f8;
  --blue-350: #4d9bf7;
  --blue-400: #338df6;
  --blue-600: #005ac3;
  --blue-700: #004392;
  --blue-750: #00387a;
  --blue-800: #002d62;
  --blue-850: #002249;
  --blue-900: #001631;

  --gray-25: #f7f8f9;
  --gray-50: #f0f1f3;
  --gray-75: #e8eaed;
  --gray-100: #e1e3e6;
  --gray-150: #d1d5da;
  --gray-200: #c2c7ce;
  --gray-250: #b3bac2;
  --gray-300: #a4acb5;
  --gray-350: #959ea9;
  --gray-400: #85909d;
  --gray-600: #525d6a;
  --gray-700: #3e464f;
  --gray-750: #343a42;
  --gray-800: #292e35;
  --gray-850: #1f2328;
  --gray-900: #15171a;

  --green-25: #f2fbf5;
  --green-50: #e6f8ec;
  --green-75: #d9f4e2;
  --green-100: #ccf0d8;
  --green-150: #b3e9c5;
  --green-200: #99e2b2;
  --green-250: #80db9f;
  --green-300: #66d38b;
  --green-350: #4dcc78;
  --green-400: #33c565;
  --green-600: #009232;
  --green-700: #006d25;
  --green-750: #005b1f;
  --green-800: #004919;
  --green-850: #003713;
  --green-900: #00240c;

  --orange-50: #fff3e6;
  --orange-100: #ffe7cc;
  --orange-150: #ffdbb3;
  --orange-200: #ffcf99;
  --orange-250: #ffc480;
  --orange-300: #ffb866;
  --orange-350: #ffac4d;
  --orange-400: #ffa033;
  --orange-600: #cc6d00;
  --orange-700: #995200;
  --orange-750: #804400;
  --orange-800: #663600;
  --orange-850: #4d2900;
  --orange-900: #331b00;

  --red-25: #fef4f5;
  --red-50: #fde9ea;
  --red-75: #fcdee0;
  --red-100: #fbd3d5;
  --red-150: #fabdc1;
  --red-200: #f8a7ac;
  --red-250: #f69197;
  --red-300: #f47b82;
  --red-350: #f2656d;
  --red-400: #f14f59;
  --red-600: #be1c26;
  --red-700: #8e151c;
  --red-750: #771218;
  --red-800: #5f0e13;
  --red-850: #470b0e;
  --red-900: #2f0709;

  --pink-50: #fde6f8;
  --pink-100: #fccdf2;
  --pink-150: #fab4eb;
  --pink-200: #f99be4;
  --pink-250: #f783de;
  --pink-300: #f56ad7;
  --pink-350: #f451d0;
  --pink-400: #f238c9;
  --pink-600: #bf0596;
  --pink-700: #8f0471;
  --pink-750: #78035e;
  --pink-800: #60024b;
  --pink-850: #480238;
  --pink-900: #300126;
}